<template>
 
  <div with.bind="gameObject">
    <h3>Status: ${gameObject.result}</h3>
  </div>
  <p style="margin-top: 4em" />

  <h3 if.bind="!gameObject">Skapa utmaning</h3>
  <label>Utmaning text</label><br/>
  <textarea rows="4" cols="50" disabled.bind="gameObject != null" value.bind="challenge"></textarea>
  <h3>Gör ditt val</h3>
  <button><img click.delegate="selectAction('rock')" src="rock.png" /></button>
  <button><img click.delegate="selectAction('scissors')" src="scissor.png" /></button>
  <button><img click.delegate="selectAction('paper')" src="paper.png" /></button>
</template>